.chart {
  margin-top: 30px;
}

.chart__item {
  position: relative;
  display: grid;
  grid-template-columns: 80px 40px 1fr;
  align-items: center;
  gap: 20px;
}

.chart__params {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
}

.chat__param {
  cursor: pointer;
}

.chat__param.active {
  color: rgb(0, 160, 85);
}

.chart__dataContainer p {
  text-transform: capitalize;
}

.chart__logo {
  width: 40px;
  height: 40px;
}

.chart__input {
  height: 30px;
  width: 30px;
  appearance: none;
  transition: 0.3s;
}

.chart__input::-webkit-slider-thumb {
  width: 0;
  height: 0;
  appearance: none;
}

.chart__price {
  position: absolute;
  top: 50%;
  right: 7px;
  margin: 0;
  font-weight: 600;
  transform: translateY(-53%);
}

@media screen and (max-width: 768px) {
  .chart {
    display: flex;
    justify-content: space-around;
  }
  .chart__dataContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .chart__item {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 30px 150px 50px 60px;
    gap: 10px;
    align-items: flex-end;
    justify-items: center;
    grid-auto-flow: dense;
  }
  .chart__dataContainer p {
    margin: 3px;
  }
  .chart__input {
    grid-row: 2;
  }
  .chart__price {
    position: static;
    grid-row: 1;
  }
  .chart__logo {
    width: 30px;
    height: 30px;
    grid-row: 3;
    
  }
}