.range {
  width: 50%;
}

.range__label {
  display: flex;
  justify-content: space-between;
}

.range__input {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .range {
    width: 70%;
  }
}